.button{
	-fx-background-color: #00CC33;
	-fx-background-radius: 100
}
.button:hover{
    -fx-background-color:#00BB00;
    -fx-background-radius: 100
}
.button:pressed{
	-fx-background-color:#00BB00;
	-fx-background-radius: 100
}