.button{
	-fx-background-color: #FFFFFF;
	-fx-border-color:#FFFFFF;
	-fx-background-radius: 100
}
.button:hover{
    -fx-background-color:  #F2F2F2;
    -fx-background-radius: 100
}
.button:pressed{
	-fx-background-color: #F2F2F2;
	-fx-background-radius: 100
}